.xa_beside_widget li {
	position: relative;
	float: left;
	margin-bottom: 10px;
	margin-right: 2%;
	width: 48%;
}

.xa_beside_widget figure {
	width: 100%;
	padding-bottom: 71.5%;
	position: relative;
}

.xa_beside_widget figure>a {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
}

.xa_beside_widget figure>a>img {
	height: 100%;
	width: auto;
	margin: auto;
}
