.xa_slider_widget>div:last-child {
	position: relative;
}

.xa_slider_widget figure {
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
}

.xa_slider_widget figure>a {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
}

.xa_slider_widget figure>a>img {
	height: 100%;
	width: auto;
	margin: auto;
}
