.xa-slider-new-widget .bx-wrapper .bx-viewport {
	box-shadow: initial;
	border: initial;
	left: initial;
}

.xa-slider-new-widget .bx-wrapper .bx-controls-direction a {
	z-index: initial;
}

.xa-slider-new-widget .xa-image {
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
}

.xa-slider-new-widget .xa-image>a {
	height: 100%;
	width: 100%;
	position: absolute;
}

.xa-slider-new-widget .xa-image>a>img {
	height: 100%;
	width: auto;
	margin: auto;
}
